body{
    background-image: url(Dt.PNG);
    background-repeat: no-repeat;
    background-attachment: fixed    ;
    background-size: 100%;

}

.background{
    background-color:rgba(211, 203, 203, 0.144);
    width: 100%;
    height: auto;
}
img{
    margin-top: 200px;
    margin-left: 100px;
    width: 550px;
    box-shadow: 15px 15px 20px #cb0f0f;
    border: 10px solid #cb0f0f ;
    transition: 1s;
}
img:hover{
    transform: scale(1.100);
}
h1{
    color: aliceblue;
    float: right;
    margin-top:198px;
    margin-right: 35%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-shadow: 4px 1px deepskyblue;
}
.released{
    color: aliceblue;
    float: right;
    margin-top:-510px;
    margin-right: 35%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}
.details{
    color: aliceblue;
    float: right;
    margin-top:-450px;
    margin-right: 29%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
h3{
    color: aliceblue;
    float: right;
    margin-top:-450px;
    margin-right: 24%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
}
audio{
    color: aliceblue;
    float: right;
    margin-top:-180px;
    margin-right: 28%;
}
button{
    height: 30px;
    width: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    text-decoration: none;
}
.image
{
    border-radius: 50px;
    border-bottom-left-radius: 10px;
}
